.main {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 140px;
}

.formWrap,
.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputWrap input::-ms-reveal {
  display: none
}

.secondButton {
  display: inline-block;
}

.secondButton button {
  padding: 0 0 0 10px;
}

.submitButton {
  display: grid;
  width: 215px;
  grid-template-columns: 1fr;
}

.submitButtonSpinner {
  position: relative;
  left: -10px;
}
