.listWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  min-height: 260px;
  padding: 10px;
  border: 1px dashed #131316;
}

.listWrap:empty {
  border: 1px dashed #2f2f37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listWrap:empty::before {
  content: "Перенесите сюда ингредиенты из меню слева.";
  display: inline-block;
  color: #2f2f37;
}

.onHover {
  transform: scale(1.05);
  transition: all 200ms;
  border-color: #2f2f37;
}

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
  row-gap: 10px;
  width: 100%;
}

.edgeElement {
  max-width: 536px;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.priceWrap {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.scrollBox {
  max-height: 440px;
  min-height: 80px;
  overflow-y: auto;
}

.submitButton {
  opacity: .3;
  pointer-events: none;
}

/* width */
.scrollBox::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollBox::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* Handle */
.scrollBox::-webkit-scrollbar-thumb {
  background: #8585ad;
}

/* Handle on hover */
.scrollBox::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}